/*----- Reset -----*/

html, body{height: 100%;}
img,video {max-width: 100%; display: block;}
*{box-sizing: border-box;}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,figure{margin: 0; padding:0}


/* -- Varáveis --*/

:root{

	/* Tipografia */

	--serif-font: 'Pacifico', serif;
	--serif-font2: 'Shadows Into Light', cursive;
	--sans-serif-font: 'Lato', sans-serif;
	--normal-font-size: 16px;
	--big-font-size: 2rem;
	--small-font-size: 14px;


	/* Box Model */

	--space: 30px;
	--spacex2: calc(var(--space)*2);

}


/* -- Estilos Gerais -- */

body{
	font-family: var(--sans-serif-font);
	font-size: var(--normal-font-size);
	color: #000;
	line-height: 1.5;
	font-weight: 400;

}


h1{
	font-family: var(--sans-serif-font);
	font-size: calc(var(--big-font-size)*2.2);

}

h2{
	font-family: var(--sans-serif-font);
	font-size: var(--big-font-size);
	font-weight: 400;
}


h3{
	font-family: var(--sans-serif-font);
	font-size: var(--normal-font-size);
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 300;
	

}

a{
	color: black;
	text-decoration: none;
	margin-bottom: 10px;

}

a:hover{
	opacity: 0.7;
	transition: all 0.5s linear;
}

.grid{
	display: grid;
	grid-gap: 30px;
}

/* -- sidebar -- */

.nav { border-bottom: 1px solid black;
	   text-align: right;
	   height: 70px;
	   line-height: 70px;
	   display: none;
}

.menu { margin: 0 30px 0 0;

}

.menu a { clear: right;
	      text-decoration: none;
	      color: black;
	      margin: 0 10px;
	      line-height: 45px;
}

.sidebar {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  text-align: center;
  clear: right;
}

label { margin: 0 40px 0 0;
	    font-size: 26px;
	    line-height: 70px;
	    display: none;
	    width: 26px;
	    float: right;

}

#toggle { display: none;

} 

div.menu{ margin: 120px 80px;

}

div.menu img { width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: auto;

	
}

/* -- ABOUT -- */

#about {
	  height: 100%;
    margin-left: 35%;
    margin-right: 5%;
    justify-content: center;
    align-items: center;
    display: flex;
    border-bottom: solid 1px black; 
}

div.info #about {

}

h1.title{
	
}

#about p {
	margin-top: 40px;
	font-family: var(--serif-font2);
	font-size: var(--big-font-size);
	font-weight: 400;

}

div.mail a {
    display: inline-block;
    padding-bottom: 4px;
    border-bottom: 1px solid #fff;
    margin-top: 40px;

}

	div.social {
		margin-top: 10px;
	}

div.social a { border-bottom: none;
               display: inline-block;
               padding-bottom: 4px;
               margin: 0;
               color: black;
}

#about h3 {   margin-top: 40px;
    font-weight: bold;
    margin-bottom: 10px;
                
}



div.social i {  
                
                margin-right: 30px;
                cursor: pointer;
    
}

/*-- Experiences --*/

#experience {
	
	  height: 100%;
    margin-left: 35%;
    margin-right: 5%;
    align-items: center;
    display: flex;
    border-bottom: solid 1px black; 


}

#experience h2 {
	margin-top: 30px;
	margin-bottom: 30px;
}

#experience a { color: blue;
                cursor: pointer;
                text-transform: uppercase; 

}

/*-- Education --*/

#education {
	
	  height: 100%;
    margin-left: 35%;
    margin-right: 5%;
    align-items: center;
    display: flex;
    border-bottom: solid 1px black; 


}

#education .grid{
	grid-template-columns: 1fr 3fr 1fr;
	margin-bottom: 40px;
    margin-top: 40px;
}

div.logo{
	width: 90px;
	height: 90px;
}

/*-- Skills --*/

#skills {
	
	height: 100%;
    margin-left: 35%;
    margin-right: 5%;
    align-items: center;
    display: flex;

}

#skills .grid{
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  margin-top: 30px;
}

div.skills {
	width: 100%;
}

#skills .icon{
	width: 90px;
	height: 90px;
}

/* ----- Media Queries ----- */


@media only screen and (max-width: 768px) {
    
    :root {      
        --spacer: 20px;
    }

    .sidebar {
    	display: none;
    }

    h1.title { font-size: 40px;
               padding: 10px;

    }

    h2.subtitle { font-size: 20px;

    }

    #about { text-align: center;
             margin: 30px;
             padding-top: 70px;
      }

    #experience { 
		    	    text-align: center;
		          margin: 30px;
              padding-bottom: 30px;
              padding-top: 70px;
		              }

    #experience ul{
      text-align: left;
    }

    #experience li { list-style-type: none;
					 padding: 2px;
					 margin-left: 15px;	 
    }

    #experience h2 {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 20px;
    }

    #education { margin-right: 0;
    	     margin-left: 0;
    	     text-align: center;
             margin: 30px;
             
    }

    div.logo { width: 50px;
    	       height: 50px;

    }

    #skills { margin-right: 0;
    	        margin-left: 0;
    	        text-align: center;
              margin: 30px;
    }
    
    .grid {
       /* grid-template-columns: 1fr!important;*/
    }
    
    .nav { display: block;
    	     position: fixed;
           right: 0;
           top: 0;
           left: 0;
           z-index: 1;
           background: #fff;


    }

    label { display: block;
    	    cursor: pointer;
    }

    .menu { text-align: center;
    	    width: 100%;
    	    display: none;

    }
    
    .menu a { display: block;
    	      margin: 0;
    	      border: 1px solid #EAEAEB;
    }

    div.menu { margin: 0;

    }

    #toggle:checked + .menu  { display: block;
    	                       z-index: 1;
                               background: #fff;

    }
}



    



